akracer==0.0.13
akshare==1.14.23
beautifulsoup4==4.12.3
certifi==2024.6.2
charset-normalizer==3.3.2
decorator==5.1.1
et-xmlfile==1.1.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1719088281970/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1715527352339/work
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1703201730631/work
html5lib==1.1
idna==3.7
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
jsonpath==0.82.2
lxml==5.2.2
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1706900018209/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
numpy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_362zs5g963/croot/numpy_and_numpy_base_1695830450707/work/dist/numpy-1.26.0-cp39-cp39-macosx_11_0_arm64.whl#sha256=e37b41d15b4b8b2adde02a2f2a3e74daaccdfa5962f4470c1c266acd01ffd2a0
openpyxl==3.1.5
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1715897641697/work
py_mini_racer==0.6.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv-split_1706018097647/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1695373497981/work
requests==2.32.3
scikit-learn @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_75x_mwrnoj/croot/scikit-learn_1690978919744/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1716470312029/work/dist/scipy-1.13.1-cp39-cp39-macosx_11_0_arm64.whl#sha256=95cc9a6aceed50037865da4a45baac05fd0dcee7e557c6149fde270f2ffebafc
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve==2.5
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1718781144688/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1718625539893/work
tabulate==0.9.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
torch==2.3.1
tqdm==4.66.4
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
urllib3==2.2.2
webencodings==0.5.1
xlrd==2.0.1
